body {
  font-family: "Roboto";
  font-weight: 300;
}

a {
  color: black;
}

header {
  margin-top: 2.5vh;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav img {
  width: 6vw;
  margin: 0 1.25vw;
}

header nav h1 {
  margin-right: 1.25vw;
  font-size: 5vw;
}

nav p {
  font-size: 4vw;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5vw auto;
  width: 90%;
}

.sectionTitle {
  font-size: 9vw;
}

span {
  font-size: 3.25vw;
}

.intro p {
  font-size: 8vw;
}

.proj {
  margin: 5vw 0;
}

.projectTitle {
  font-size: 7vw;
}

.description {
  padding: 2.5vw;
  font-size: 5vw;
}

.stack-container {
  margin: 2% 0;
  width: 100%;
}
.stack-icon {
  width: 5vw;
  margin: 0 1.5%;
}

.code {
  font-family: "Fira Code", monospace;
}

.site {
  font-family: "Lobster", cursive;
}

.code,
.site {
  font-size: 5.25vw;
  color: black;
}

.footer p {
  margin: 0 auto;
  text-align: center;
  padding: 2.5vw 0;
  font-size: 9px;
}

.attribution {
  font-size: 2px;
  text-align: center;
  margin-bottom: 1.5%;
}

@media only screen and (orientation: portrait) {
  .stack-icon {
    width: 8vw;
  }
}

@media only screen and (orientation: landscape) {
  .projectTitle {
    font-size: 5vw;
  }

  .intro p {
    font-size: 5.5vw;
  }
}

@media only screen and (orientation: landscape) and (min-width: 800px) {
  .sectionTitle {
    font-size: 4.75vw;
  }

  span {
    font-size: 2vw;
  }

  .description {
    font-size: 2vw;
  }

  .code,
  .site {
    font-size: 3.5vw;
  }

  header nav img {
    width: 3vw;
  }

  header nav h1 {
    font-size: 3vw;
  }

  nav p {
    font-size: 2.5vw;
  }
}
